#------------------------------------------------------------------------------
# chapter3/oci-demo-orderfn/requirements.txt
# 주문 앱에서 사용하는 패키지를 정의 
#------------------------------------------------------------------------------

fdk>=0.1.60
oci==2.105.0
Faker==18.11.2
requests==2.31.0
