#------------------------------------------------------------------------------
# chapter3/oci-demo-userfn/requirements.txt
# 사용자 앱에서 사용하는 패키지를 정의 
#------------------------------------------------------------------------------

fdk>=0.1.58
cx-Oracle==8.3.0
Faker==18.6.2
